{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr" style="margin: 20px 0;">
      <span>My Example Driver</span>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Size</label>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.exampleConfig.size
          }}
          <span class="input-group-addon">MB</span>
        </div>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{partial "save-cancel"}}
</section>
